aiogram==3.4.1
aiohttp==3.9.3
fastapi==0.109.2
uvicorn[standard]==0.27.1
sqlalchemy==2.0.27
alembic==1.13.1
aiomysql==0.2.0
pymysql==1.1.0
cryptography==42.0.2
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.1
python-multipart==0.0.9
redis==5.0.1
aioredis==2.0.1
passlib==1.7.4
python-jose==3.3.0
bcrypt==4.1.2
Pillow==10.2.0
qrcode==7.4.2
